
menu "Configuration"

config WIFI_SSID
    string "WIFI name"
    default ""
    help
		SSID of WiFi (network name)

config WIFI_PSW
    string "Wifi password"
    default ""
    help
		WiFi password (WPA or WPA2), can be left blank if the network has no security set
		
config WIFI_CHANNEL
	int "Max channel range"
	range 1 13
	default 13
	help
		Channel in which ESP32 will sniff PROBE REQUEST

config WIFI_SNIFFING_TIME
	int "Time of sniffig in seconds"
	default 30
	help
		Time must be in seconds

config RSSI_Max
	int "RSSI_Max"
	default -90
	help
		

config PROBE_REQUEST
    int "Probe Request Sniffer"
    default 0
    range 0 1
    help
        Must be true (1) or false (0): if true only Probe Request is sniffed

config SSID
    int "SSID"
    default 0
    range 0 1
    help
        Must be true (1) or false (0): if true SSID will be catched. PROBE_REQUEST must be true (1)
		
config DEVICE_SIGNATURE
    int "Device Signature"
    default 0
    range 0 1
    help
        Must be true (1) or false (0): if true SSID will be catched. PROBE_REQUEST must be true (1)
		
config MQTT_SERVER_URI
  string "MQTT Server URI"
  default ""
  help
    The URI of the MQTT Server to publish to, ex: "mqtt://iot.eclipse.org"

config MQTT_PORT
  int "MQTT Server port"
  default 1883
  help
    The port of the MQTT Server to publish to, ex: 1883
	
config MQTT_TOPIC
  string "MQTT Topic under which all Data is published"
  default "esp32"
  help
		Name of main topic

config MQTT_USER
  string "MQTT username"
  default ""

config MQTT_PASS
  string "MQTT password"
  default ""		
  help
		Password of the MQTT server, can be left blank if the network has no security set

endmenu